<a href="https://colab.research.google.com/github/bksgupta/course-v3/blob/master/lesson4_tabular.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tabular models

In [35]:
from fastai.tabular import *

Tabular data should be in a Pandas `DataFrame`.

In [36]:
path = untar_data(URLs.ADULT_SAMPLE)
df = pd.read_csv(path/'adult.csv')

In [37]:
df.head()

   age          workclass  fnlwgt  ... hours-per-week  native-country salary
0   49            Private  101320  ...             40   United-States  >=50k
1   44            Private  236746  ...             45   United-States  >=50k
2   38            Private   96185  ...             32   United-States   <50k
3   38       Self-emp-inc  112847  ...             40   United-States  >=50k
4   42   Self-emp-not-inc   82297  ...             50   United-States   <50k

[5 rows x 15 columns]

In [38]:
len(df)

32561

In [39]:
dep_var = 'salary'
# cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race','sex','native-country']
# cont_names = ['age', 'fnlwgt', 'education-num']
cont_names = ['age', 'fnlwgt', 'education-num','capital-gain','capital-loss','hours-per-week']
procs = [FillMissing, Categorify, Normalize]

In [40]:
test = TabularList.from_df(df.iloc[800:1000].copy(), path=path, cat_names=cat_names, cont_names=cont_names)

In [41]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(800,1000)))
                           .label_from_df(cols=dep_var)
                           .add_test(test)
                           .databunch())

In [42]:
data.show_batch(rows=10)

In [56]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)
# learn = tabular_learner(data, layers=[200,100,50], metrics=accuracy)

In [57]:
learn.fit(1, 1e-2)
# learn.fit(5, 1e-2)

In [ ]:
# learn.fit(5, 1e-4)

## Inference

In [58]:
row = df.iloc[0]

In [59]:
row

age                                49
workclass                     Private
fnlwgt                         101320
education                  Assoc-acdm
education-num                      12
marital-status     Married-civ-spouse
occupation                        NaN
relationship                     Wife
race                            White
sex                            Female
capital-gain                        0
capital-loss                     1902
hours-per-week                     40
native-country          United-States
salary                          >=50k
Name: 0, dtype: object

In [60]:
learn.predict(row)

(Category tensor(1), tensor(1), tensor([0.3661, 0.6339]))

In [61]:
_,ix,_=learn.predict(row)

In [62]:
data.classes

['<50k', '>=50k']

In [63]:
data.classes[ix]

'>=50k'

In [64]:
len(data.train_ds)

32361

In [65]:
len(data.valid_ds)

200

In [66]:
len(data.test_ds)

200